@import '../../variables.scss';

.wrapper{
    width: 100%;
    height: 100vh;
    min-height: 892px;
    background-color: $pure-white;
    padding-top: 120px;
}

.text{
    width: 538px;
}

.title{
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.p{
    line-height: 28px;
}

.cards{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.card{
    width: calc(100% / 3 - 30px);
    height: 100%;
    cursor: pointer;
}