.wrapper{
    width: 1170px;
    padding: 15px;
    margin: 0 auto;
}


@media screen and (max-width: 1224px){
    .wrapper{
        width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 768px;
    }
}