@import '../../../variables';

.wrapper{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 6px solid $white;
    background-color: $white;
    overflow: hidden;
    position: relative;
}

.info{
    height: 100px;
    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 10%;
    border-radius: 10px;
    border: 1px solid #989898;
    background: rgba(0, 34, 72, 0.30);
    backdrop-filter: blur(10px);
    padding: 23px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img{
    width: 100%;
    height: 100%;
}

.rating{
    display: flex;
    gap: 2px;
}

.ratingStar{
    width: 15px;
    height: 15px;
}

.title, .price, .location{
    color: $white;
}

.title, .price{
    font-weight: bold;
}

.titles{
    font-family: $ff-shadows;
}

.location{
    font-family: $ff-inter;
    font-weight: 500;
}

.textWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}