@import '../../variables';

.main{
    height: 89vh;
    min-height: 692px;
    background-color: $pure-white;
    padding-top: 50px;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.title{
    font-size: 60px;
    text-transform: capitalize;
    font-family: $ff-playfair;
    margin-bottom: 20px;
}

.subtitle{
    margin-bottom: 15px;
}

.p{
    margin-bottom: 49px;
}

.btn{
    padding: 20px 47px;
}

.img{
    width: 95%;
}

.startUpIcon{
    width: 41px;
    height: 41px;
    margin-top: 3.5%;
}

@media screen and (max-width: 1024px) {
    .img{
        display: none;
    }

    .main{
        background-image: url('../../assets/imgs/main-background-image.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: end;
    }

    .info{
        margin-bottom: 25%;
    }
    
    .subtitle {
        margin-bottom: 5px;
    }

    .title{
        font-size: 32px;
        margin-bottom: 10px;
        color: $white !important;
    }

    .p{
        font-size: 16px;
        margin-bottom: 20px;
        color: $white;
    }
    .startUpIcon{
        margin: 1px;
    }



}