@import '../../../variables';

.wrapper{
    width: 100%;
    text-align: center;
    padding: 30px 40px;
    background-color: $white;
    border-radius: 10px;
}

.testimonialsIcon{
    margin: 0 auto;
    margin-bottom: 20px;
}

.testimonials{
    margin-bottom: 14px;
    font-size: 14px;
}

.name{
    font-size: 12px;
    color: $blue-dark;
    font-weight: 550;
    margin-bottom: 2px;
    font-family: $ff-inter;
}

.designation{
    font-size: 10px;
}