$primary-blue: #3685FB;
$blue-dark: #002248;
$blue-dark-btn-active: #013d81;
$blue-light: #00b3a0;
$p-color: #697687;
$pure-white: #F8F8F8;
$white: #fff;
$black: #000;
$ff-epilogue: 'Epilogue', sans-serif;
$ff-inter: 'Inter', sans-serif;
$ff-playfair: 'Playfair Display', serif;
$ff-shadows: 'Shadows Into Light';